hr {
    margin-bottom: 50px;
}
ul {
    list-style: none;
}
p {
    margin: 0;
}
li {
    display: flex;
    align-content: center;

    &.featured {
        padding-bottom: 20px;

        p {
            margin-top: 50px;
            margin-right: 20px;
        }
    }
}